<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Portfolio</title>
</head>

<body>
  <h1>Bienvenidos a nuestro portfolio</h1>

  <h2>Miembros del equipo:</h2>
  <ul>
    {{#if miembros.length}}
    {{#each miembros}}
    <li>
      <div class="tarjeta">
        <div class="imagen">
          <img src="/img/{{this.id}}.jpg" alt="{{this.nombre}}">
        </div>
        <div class="informacion">
          <h3>{{this.nombre}} {{this.apellido}}</h3>
          <p>Titulación: {{this.titulacion}}</p>
          <p>Servicios: {{this.servicios}}</p>
          <p>Equipo: {{this.nombre_equipo}}</p>
          <a href="/miembro/{{this.id}}">Ver más detalles</a>
        </div>

      </div>
    </li>
    {{/each}}
    {{else}}
    <p>No se encontraron miembros</p>
    {{/if}}
  </ul>
  <ul>
    <li>
      <p><a href="/trabajos">Trabajos realizados</a></p>
    </li>
    <li>
      <p><a href="/contacto">Contáctanos</a></p>
    </li>

  </ul>
</body>

</html>