<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalle del Miembro</title>
</head>
<body>
  <h1>Detalle del miembro</h1>
  <br>
  <h2>{{miembro.nombre}} {{miembro.apellido}}</h2>
  <br>
  <p>Titulación: {{miembro.titulacion}}</p>
  <p>Servicios: {{miembro.servicios}}</p>
<br>
  <h3>Idiomas</h3>
  {{#if miembrosIdiomas}}
  {{#each miembrosIdiomas}}
    <p>{{this.idioma}} | {{this.nivel_idioma}}</p> 
  {{/each}}
  {{else}}
  <p>No se encontraron detalles del miembro</p>
  {{/if}}
  <br>
  <h3>Tecnologías</h3>
  {{#if miembrosTecnologias}}
  {{#each miembrosTecnologias}}
    <p>{{this.tecnologia}} | {{this.nivel_tecnologia}}</p> 
  {{/each}}
  {{else}}
  <p>No se encontraron detalles de las tecnologías</p>
  {{/if}}
  <br>
  <h3>Proyectos personales</h3>
  {{#if proyectos}}
  {{#each proyectos}}
    <p>Nombre: {{this.descripcion}} | Tecnologías aplicadas: {{this.tecnologias_pp}}</p>
  {{/each}}
  {{else}}
  <p>No se encontraron proyectos personales</p>
  {{/if}}
  
</body>
</html>
<br>
<p><a href="/">Volver al inicio</a></p>
