<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalle del Miembro</title>
</head>
<body>

  {{!-- <h1>{{miembro.nombre}} {{miembro.apellido}}</h1>
  <p>Titulación: {{miembro.titulacion}}</p>
  <p>Tecnologías: {{miembro.tecnologias}}</p>
  <p>Idiomas: {{miembro.idiomas}}</p>
  <p>Proyectos personales: {{miembro.proyectos_personales}}</p> --}}
</body>
</html>

<p><a href="/">Volver al inicio</a></p>
